body {
  background: blanchedalmond;
  margin: 0;
}
.container {
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
  padding: 5px;
  gap: 10px;
}
.a {
  background-color: red;
}
.c {
  background-color: green;
}
.a, .c {
  flex-grow: 1;
  border: 2px solid black;
}
.b {
  flex-grow: 4;
  border: 2px solid black;
  min-height: 40vh;
  min-width: 100%;
  background-color: blue;
}
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .a {
    min-width: 100%;
  }
  .b {
    min-width: 75%;
  }
  .c {
    min-width: 20%;
  }
}